@layout('layouts/main')
@set('title', 'Meu Perfil')
@set('subtitle', '')
@set('pageName', 'Perfil')

@section('body')
    @if(auth.isLoggedIn)
        <p>Nome: {{auth.user.name}} </p>
        <p>Sobrenome: {{auth.user.last_name}}</p>
        <p>Email: {{auth.user.email}}</p>
        <p>ID: {{auth.user.id}}</p>
        <a href="{{ route('DataUsersController.edit', {id: auth.user.id}) }}">
            Editar Dados</a><br>
    @endif


@end