@font-face {
  font-family: 'Jack Pirate';
  src: url('/resources/fonts/JackPirate.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #463F3A;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

header p {
  font-family: 'Jack Pirate';
}


