@font-face {
    font-family: 'Jack Pirate';
    src: url('/resources/fonts/JackPirate.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #463F3A;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 10.6rem;
}
  
.logo > a > img{
    width: 6.125rem;
    height: 3.5rem;
    width: 100%;
}
  
  
.menu {
    display: flex;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu > li > a{
    text-decoration: none;
    margin-left: 2.44rem;
    color: #FFE1A8;
    transition: 200ms;
}

.menu > li > a:hover{
    color: #FFF1D6;
}

.user-options {
    display: flex;
    align-items: center;
}

.user-img {
    width: 1.75rem;
    height: 1.75rem;
}

.carret-down {
    width: 1.25rem;
    height: 1.25rem;
}

.login-button {
    width: 300px;
    height: 40px;
    border-radius: 13px;
    background: #CB997E;
    border: none;
    color: #472D30;
    font-family: 'Montserrat',sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    transition: 250ms;
}

.login-button:hover {
    background-color: #BF805F;
    cursor: pointer;
}

.select-menu {
    position: absolute;
    /* top: 12rem; */
    right: 10rem;
    z-index: 10;
    width: 370px;
    /* height: 100px; */
    border-radius: 13px;
    background: #CB997E;
    border: none;
    transition: 250ms;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* padding: 10px; */
}

.select-menu:hover {
    background-color: #BF805F;
    cursor: pointer;
}

.select-menu .current-user{
    font-size: 17px;
    font-family: 'Montserrat',sans-serif;
    color: #472D30;
}

.select-btn i {
    font-size: 20px;
    transition: 0.3s;
}

.sBtn-text {
    color: #472D30;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    padding: 2px;
    width:100%;
    /* display: block; */
}

.select-menu .options{
    position: relative;
    padding: 10px;
    display: none;
}

.select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

.select-menu.active .options {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0px 10px;
    list-style: none;
}

.select-menu.active .options .option span {
    color: #472D30;
    transition: 200ms ease-in-out all;
}

.select-menu.active .options .option span:hover {
    color: #FFF1D6;
}

.options .option span{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
}

.options .option span:hover{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat',sans-serif;
}

.option a {
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #463F3A;
    padding: 1.25rem 0;
}

footer > img {
    width: 6.125rem;
    height: 3.5rem;
}

footer > p {
    color: #FFF;
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.posts {
    height: 100%;
    width: 100%;
    background-color: #FFF1D6;
    padding: 1.5rem 10.6rem;
}
.title-head > h1 {
    color: #463F3A;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 2rem;
}

.post > ul {
    list-style: none;
}

.post-details {
    display: flex;
    gap: 1rem;
    padding-bottom: 1.25rem;
    align-items: center;
}

.post-img {
    width: 250px;
    height: 161px;
    border-radius: 2rem;
    background: #D9D9D9;
}

.post-infos {
    width: 50rem;
    height: 80%;
}

.post-infos > a {
    text-decoration: none;
}

.post-title {
    color:#2C1A11;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: 200ms;
}

.post-title:hover {
    color: #472D30;
}

.post-author {
    color: #2C1A11;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.post-resume {
    color: #463F3A;
    font-family: 'EB Garamond', serif;
    font-size: 1.05rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 0.3rem;
}

.post-category {
    background-color: #472D30;
    font-family: Montserrat;
    color: #FFE1A8;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 0.5rem;
    width: 100px;
    height: 30px;
}