
<header>
    <div class="logo">Ágora</div>  
    <nav>
        <ul class="menu">
            <li> <a href=""> Publicações </a></li>
            <li> <a href=""> Artigos </a></li>
            <li> <a href=""> Review </a></li>
            <li> <a href=""> Sobre Nós </a></li>
        </ul>
    </nav>
    <div class="user-options">clique</div>
</header>